@font-face {
  font-family: pptelegraf;
  src: url(/Users/manuellora/Desktop/tatiana-pages_project/fonts/PPTelegraf-Regular.woff2);
}
@font-face {
  font-family: pptelegraf-light;
  src: url(/Users/manuellora/Desktop/tatiana-pages_project/fonts/PPTelegraf-UltraLight.woff2);
}
.navbar{
  background-color: #E8E8E8;
  --bs-navbar-padding-y: 0.75rem;
}
.navbar-brand {
  font-family: 'Alice', sans-serif;
  font-size: 18px !important;
  text-transform: uppercase;
  color: #2A3F77 !important;
}
.nav-link{
  font-family: 'pptelegraf', sans-serif;
  padding: 4px 8px !important;
  font-size: 14px !important;
  text-transform: uppercase;
  color: #2A3F77 !important;
  border: 1px solid transparent!important;
}
.nav-link:hover{
  color: darkgray!important;
}
.cta-link{
  border: 1px solid #2A3F77!important;
  margin-left: 6px;
}
.cta-link:hover{
  border: 1px solid darkgray!important;
}
a.get-it-now {
  display: inline-block;
  position: relative;
  padding: 6px 24px;
  border-radius: 20px;
  text-decoration: none;
  overflow: hidden;
  color: black;
  background-color: white;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}
a.get-it-now .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
a.get-it-now .icon img{
  width: 20px;
}
a.get-it-now::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left center;
  z-index: -1;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
a.get-it-now:hover::before {
  transform: scaleX(1);
  background-color: #E8E8E8;
}
.CTA{
	color: white;
	font-family: 'pptelegraf', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid white;
    padding: 6px 10px;
}
@keyframes hover-cta {
  0% {background-color: #ffffff7a; color: #203877;}
  100% {background-color: white;}
}
.CTA:hover{
	background-color: white;
	color: #203877;
	animation-name: hover-cta;
	animation-duration: 1s;
}
.wrap-hero-section{
	max-width: 100%;
  margin: 0 auto;
  background-color: #2A3F77;
}
.wrap-event-section{
  max-width: 100%;
  margin: 0 auto;
  background-color: #F6F6F6;
}
.container-fluid{
  max-width: 1200px;
}
.hero-section{
  align-items: center !important;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}
.synopsis{
  font-family: 'Roboto', sans-serif;
  color: white;
}
h1{
  font-family: 'Alice', sans-serif;
  font-size: 42px;
  text-transform: uppercase;
}
.synopsis .regular-p{
  color: white;
  font-size: 1.05rem;
  font-weight: 400;
}
.book-content{
  text-align: center;
}
.review-pinned, .accolades{
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    padding: 60px 0 30px;
}
.review-pinned p, .accolades p{
  font-family: 'Alice', sans-serif;
  text-align: center;
  font-size: 28px;
  line-height: 37px;
}
.review-pinned mark{
  background-color: #FDF322;
}
.review-p{
  font-weight: 500;
  background: #E8E8E8;
  padding: 20px;
  border-radius: 5px;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0.5rem;
}
.reviews .row{
  margin-top: 20px;
}
.reviews .row_1 p{
  min-height: 168px;
}
.reviews .row_2 p{
  min-height: 185px;
}
.reviews h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 16px;
}
.reviews span{
  font-weight: 400;
}
.real-story{
  color: white;
  margin-top: 60px;
  padding: 80px 0;
  padding: 60px 20px;
}
.real-story h1{
  text-align: left;
}
.real-story p{
  text-align: left;
}
.real-story .row{
  align-items: center;
}
.real-story .row .story{
  padding: 0px 60px;
}
.real-story img{
  width: 100%;
  border: 10px solid white;
}
.real-story p{
  font-family: 'Alice', serif;
  font-size: 22px;
  text-align: left;
}
.events{
  padding: 60px 0 80px;
  margin-bottom: 40px;
}
.events h1{
  text-align: left;
  color: #203877;
}
.card-img-custom {
  width: 180px;          /* Fija el ancho de la imagen a 180px */
  height: 100%;          /* Ajusta la altura de la imagen al 100% del contenedor padre */
  object-fit: cover;     /* Cubre el área del contenedor sin distorsionar la imagen */
  object-position: center; /* Centra la imagen en el contenedor */
}
.card-date{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #203877 !important;
  font-size: 32px;
  margin-bottom: -3.5px;
}
.card-month{
  color: #203877;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.card-text{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  color: #203877;
  margin-top: 24px;
}
.card-text a{
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  color: #203877;
  padding-right: 4px;
}
.card-text a:hover{
  color: #A0A0A0;
}
.location-icon{
    width: 12px;
    margin-bottom: 4px;
}
.secondary-tag{
    background-color: white;
    border: 1px solid #203877;
    border-radius: 20px;
    color: #203877;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
}
.secondary-tag:hover{
  border: 1px solid #203877;
  background-color: #f6f6f6;
}
.btn-primary{
  background-color: #203877;
  border: 1px solid transparent;
  border-radius: 20px;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
}
.btn-primary:hover{
  background-color: #A0A0A0;
  border: 1px solid transparent;
}
.social-btn{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-decoration: underline;
}
.social-btn:hover{
  background-color: transparent;
  color: #A0A0A0;
  border: 1px solid #A0A0A0;;
}
.carousel-item .d-flex {
  display: flex;
  justify-content: space-around; /* Distribuye el espacio alrededor de las tarjetas */
  width: 100%; /* Ajusta el ancho del contenedor para adaptarse a las tarjetas */
  transition: transform 0.5s ease;
}
.card.mb-3 {
  flex: 0 0 calc(50% - 30px); /* Ajusta el ancho de cada tarjeta para que dos tarjetas se ajusten dentro del carrusel, considerando el espacio */
  margin: 15px; /* Asegura que haya un espacio alrededor de las tarjetas */
}
.card {
  border: 0;
  box-shadow: -1px -1px 10px 4px rgba(69,69,69,0.1);
  -webkit-box-shadow: -1px -1px 10px 4px rgba(69,69,69,0.1);
  -moz-box-shadow: -1px -1px 10px 4px rgba(69,69,69,0.1);
  --bs-card-title-spacer-y: 0rem;
}
.more-card{
  background: #203777;
  padding: 16px 20px;
  max-height: 210px;
}
.more-card h3{
  font-family: 'Roboto';
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
.more-card p{
  color: white;
  text-transform: none;
  font-weight: 300;
  margin-top: 12px;
}
#eventsCarouselPast, #eventsCarouselUpcoming {
  position: relative;
}
#eventsCarouselPast .carousel-control-prev,
#eventsCarouselPast .carousel-control-next {
  position: absolute;
  top: 50%; /* Centra las flechas verticalmente */
  transform: translateY(-50%); /* Asegura un centrado preciso */
  width: auto; /* Permite ajustar el tamaño si es necesario */
  height: auto; /* Permite ajustar el tamaño si es necesario */
}
#eventsCarouselUpcoming .carousel-control-prev,
#eventsCarouselUpcoming .carousel-control-next {
  position: absolute;
  top: 50%; /* Centra las flechas verticalmente */
  transform: translateY(-50%); /* Asegura un centrado preciso */
  width: auto; /* Permite ajustar el tamaño si es necesario */
  height: auto; /* Permite ajustar el tamaño si es necesario */
}
#eventsCarouselPast .carousel-control-prev {
  left: -50px; /* Ajusta según sea necesario para mover la flecha fuera del carrusel a la izquierda */
}
#eventsCarouselPast .carousel-control-next {
  right: -50px; /* Ajusta según sea necesario para mover la flecha fuera del carrusel a la derecha */
}
#eventsCarouselUpcoming .carousel-control-prev {
  left: -50px; /* Ajusta según sea necesario para mover la flecha fuera del carrusel a la izquierda */
}
#eventsCarouselUpcoming .carousel-control-next {
  right: -50px; /* Ajusta según sea necesario para mover la flecha fuera del carrusel a la derecha */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Cambia las flechas a negro, ajuste previo */
}
.btn-custom {
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Elimina el borde */
  padding: 10px 20px; /* Añade padding */
  margin-top: 15px; /* Espacio por encima del botón */
  border-radius: 5px; /* Redondea las esquinas */
}
.btn-custom:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color del texto al pasar el ratón */
}
.events-wrapper{
  margin-top: 20px;
}
.past-events{
  margin-top: 40px;
}
.event-card{
  border: 1px solid #203877;
  border-radius: 10px;
  padding: 20px 8px;
  font-family: 'Roboto', sans-serif;
  align-items: center;
}
.col-md-4 .event-card{
  height: 100%;
  padding: 20px;
}
.col-md-4 .event-card h3{
    margin-top: 60px;
}
.event-card img{
 max-width: 100%;
}
.event-card h4{
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  color: #A0A0A0;
  margin-bottom: 4px;
}
.event-card h3{
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #203877;
  margin-bottom: 2px;
}
.event-card p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.tags{
  display: flex;
  flex-wrap: wrap!important;
  align-items: center;
}
.tags:nth-child(n){
  margin-bottom: 10px;
}
.tags .tag-item{
  font-size: 14px;
  margin: 0 10px 0 0;
  padding: 4px 10px;
  color: #203877;
  border: 1px solid #203877;
  border-radius: 18px;
}
.tags .tag-link{
  font-size: 14px;
  margin: 0 10px 0 0;
  padding: 4px 10px;
  color: white;
  background-color: #203877;
  border: 1px solid transparent;
  border-radius: 18px;
}
.tag-item p{
  font-size: 14px;
  text-decoration: none;
  color: #203877;
}
.tag-link a{
  text-decoration: underline;
  color: white;
}
.tag-link a:hover{
  color: gray;
}
.tags p{
  margin-bottom: 0;
}
.accolades{
  padding: 20px 0 60px;
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2A3F77;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    padding: 4px 8px 10px;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
}
#back-to-top:hover {
  opacity: 0.8;
}
footer {
    border-radius: 5px;
    background: #A0A0A0;
    padding: 30px 40px 40px!important;
    color: white;
    margin-bottom: 8px;
}
.focus-mode{
  outline: #e5e5e5 solid 8px;
  transition: outline-color 0.3s ease-in-out;
}
footer h2{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -2px;
}
footer .footer-line{
  margin-top: 18px;
}
footer p, footer a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: white;
}
footer p{
  margin-top: 4px;
}
footer a:hover{
 color: #4a4a4a;
}
.footer-closure .col-md-6{
  padding: 0!important;
}
.footer-closure p{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 20px;
}
.footer-closure .align-right p{
  text-align: right;
}

/*BLOG TEMPLATE*/
.blog-hero{
  padding: 20px 0 40px;
}
.blog-title{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-bottom: 0px;
}
.blog-details{
  display: flex;
}
.blog-details p{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: white;
  padding-right: 8px;
}
.blog-carousel-item {
  height: 500px;
  background-size: cover;
  background-position: center;
}
/* Default background images for desktop */
/*Family Event*/
.carousel-item-1{
  background-image: url('../images/events/content/family-event_1.jpg');
}
.carousel-item-2{
    background-image: url('../images/events/content/family-event_2.jpg');
}
.carousel-item-3{
    background-image: url('../images/events/content/family-event_3.jpg');
}
/*Books and Books*/
.bb-carousel-item-1{
  background-image: url('../images/events/content/family-event_1.jpg');
}
.bb-carousel-item-2{
    background-image: url('../images/events/content/family-event_2.jpg');
}
.bb-carousel-item-3{
    background-image: url('../images/events/content/family-event_3.jpg');
}
.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Increase hit area if needed, might push arrows outside slightly */
}
.carousel-indicators button {
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: #fff; /* Active dot color, change as needed */
}
.breadcrumbs{
  font-family: 'Roboto';
  font-size: 14px;
  color: white;
  margin-bottom: -10px;
}
.breadcrumbs a{
  color: white;
}
.breadcrumbs a:hover{
  color: #a0a0a0;
}
.blog-content{
  align-items: center;
  padding: 80px 0 40px;
}
.blog-content p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.content-quote{
  text-align: center;
  font-family: 'Alice', serif;
}
.content-quote h2{
  font-size: 42px;
  text-transform: uppercase;
  line-height: 1;
  padding: 0 40px;
}
.content-quote h4{
  font-size: 20px;
  padding: 0 60px;
}
.blog-gallery{
  padding: 60px 0;
}
.blog-gallery img{
  max-width: 100%;
}
.blog-quote{
  text-align: center;
  padding: 0 0 80px;
}
.blog-quote p{
  max-width: 740px;
  margin: 0 auto;
  font-family: 'Alice', serif;
  font-size: 28px;
  line-height: 1.15;
}
.blog-quote mark{
  background-color: #FDF322;
}
.no-final{
  padding: 0 0 20px;
}
.blog-content-final{
  padding-bottom: 20px;
}
.blog-content-final .col-md-6 {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
}
.blog-content-final p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 70%; /* Ensures the paragraph takes up 80% of its parent's width */
  margin: 0 auto; /* Centers the paragraph horizontally within the column */
  text-align: justify; /* Justifies the text within the paragraph */
}
.blog-links{
  text-align: center;
  padding: 40px 0;
}
.blog-links h4{
  font-family: 'Archivo', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: #203877;
}
.blog-links a{
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  color: #203877;
}
.blog-next{
  padding-bottom: 60px;
}
.blog-next h1{
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 38px;
  color: #203877;
}
.blog-next h4{
  font-family: 'Archivo';
  font-size: 22px;
  text-transform: uppercase;
  color: #203877;
  font-weight: 600;
}
.blog-next h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #A0A0A0;
  margin-bottom: 24px;
}
.blog-next .col-md-2{
  align-content: center;
  text-align: right;
}
.next-info{
  align-content: space-around;
}
.next-arrow {
  display: inline-flex; /* Use flex to center the content inside */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: right; /* Align the flex container to the right */
  padding: 12px; /* Space between the icon and the circle's edge */
  border-radius: 50%; /* Makes the border a circle */
  background-color: rgba(32, 56, 119, 0.1); /* Semi-transparent blue using rgba */
  width: 64px; /* Total width after accounting for padding */
  height: 64px; /* Total height after accounting for padding */
  box-sizing: border-box; /* Includes padding in the width/height calculations */
  transition: background-color 0.3s ease;
}
.next-arrow:hover {
    background-color: rgba(160, 160, 160, 0.4); /* Changes background to semi-transparent gray on hover */
}
.next-arrow span {
    display: flex; /* Ensures the img is centered inside the span if needed */
}
.next-arrow img {
    display: block; /* Removes any default inline spacing below the image */
}
.blog-next a{
  padding: 6px 12px;
}
.blog-next img{
  max-width: 100%;
}

/*MEDIA QUERIES FOR MOBILE*/
@media only screen and (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1200px !important;
  }
}
@media only screen and (max-width: 1200px){
  /*.events-wrapper{
    flex-direction: column!important;
  }*/
  .col-md-4 .event-card h3 {
    margin-top: 20px;
  }
  .tags .tag-link {
    margin-bottom: 10px;
  }
  .tags .tag-item{
    margin-bottom: 10px;
  }
  .col-md-8 .event-card {
    height: 100%;
    padding: 20px;
  }
}
@media only screen and (max-width: 992px){
  .navbar-collapse{
      text-align: center;
      padding: 20px;
  }
  .navbar-collapse a{
    font-size: 18px!important;
  }
  a.get-it-now {
    font-size: 1rem;
    padding: 10px 24px;
    border-radius: 25px;
  }
  .hero-section{
    flex-direction: column-reverse!important;
  }
  .hero-section .col{
    margin: 10px 0;
  }
  .reviews .row{
    margin: 0;
  }
  .reviews .row_1 p{
    min-height: 100px;
  }
  .reviews .row_1 .col-md-6, .reviews .row_2 .col-md-6{
    margin: 10px 0;
  }
  .review-pinned{
    padding: 60px 0 0;
  }
  footer{
    border-radius: 0;
  }
  .footer-closure{
    padding: 12px 0px;
  }
  .footer-closure .col-md-6 p{
    text-align: center;
    margin-bottom: 4px;
  }
  .footer-closure .align-right p{
    text-align: center;
    margin-bottom: 4px;
  }
}
@media only screen and (max-width: 768px){
/* UPCOMING EVENTS */
  .col-md-8{
    padding-right: 25px!important;
    padding-left: 25px!important;
  }
  .events-wrapper .col-md-4, .col-md-8{
    margin-bottom: 20px;
  }
  .col-md-4 .event-card h3 {
    margin-top: 0px;
  }
}

/*Media Queries for Blog*/
@media (max-width: 768px) {
    .carousel-item-1{
        background-image: url('../images/events/content/m-family-event_1.jpg'); /* Mobile-specific image */
    }
    .carousel-item-2{
        background-image: url('../images/events/content/m-family-event_2.jpg'); /* Mobile-specific image */
    }
    .carousel-item-3{
        background-image: url('../images/events/content/m-family-event_3.jpg'); /* Mobile-specific image */
    }

    .bb-carousel-item-1{
        background-image: url('../images/events/content/m-family-event_1.jpg'); /* Mobile-specific image */
    }
    .bb-carousel-item-2{
        background-image: url('../images/events/content/m-family-event_2.jpg'); /* Mobile-specific image */
    }
    .bb-carousel-item-3{
        background-image: url('../images/events/content/m-family-event_3.jpg'); /* Mobile-specific image */
    }
}

/*BOOK ANIMATION HOVER*/
html, body{
  background-color: white !important;
  display: border-box;
}
.container-book {
  z-index: 1;
  perspective:3000px;
}

.container-book .book {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
  font-family: acumin-pro, sans-serif;
  -webkit-box-shadow: 15px 15px 15px 0px rgb(255 255 255 / 22%);
  -moz-box-shadow: 15px 15px 15px 0px rgb(255 255 255 / 22%);
  box-shadow: 15px 15px 15px 0px rgb(255 255 255 / 22%);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.container-book .book:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.container-book .book > div,
.container-book .front > div {
  display: block;
  position: absolute;
}


.container-book .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.container-book .front > div {
  width: 400px;
  height: 550px;
}

.container-book .left-side{
  width: 40px;
  left: -20px;
  height: 550px;
  background-color: #1F2E55;
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}
.container-book .left-side h2{
  color: white;
}

.cover svg{
  position: absolute;
  top: 50%;
  left: 45%;
  margin-top: -100px;
  margin-left: -110px;
  width: 300px;
}

#eye-right {
  padding-left: 185px;
}

.cover .num-up{
  position: absolute;
  top: 64px;
  left: 47px;
  letter-spacing: 50px;
  transform: rotate(-90deg);
}

.cover .num-down{
  position: relative;
  top: 65px;
  left: -95px;
  transform: rotate(-90deg);
}

.author{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 475px;
  left: 50px;
  opacity: .8;
  }

.container-book .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container-book .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.container-book .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.container-book h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 210px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.cover {
 background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
}
.cover img{
  width: 100%;
}

.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.left-side h2 span:last-child{
  font-family: acumin-pro, sans-serif;
} 
